body{
    font-family: Verdana, Helvetica, sans-serif;
    background-color: lightyellow;
    color: darkorange;
}

#header {
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }