body{
    font-family: Verdana, Helvetica, sans-serif;
    background-color: lightyellow;
}

.festive {
    color: darkorange;
}

#header {
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
}